/* Place all of your CSS Code in this file */

/********************************************************************************* 
*
* WEB222 – Assignment #4a
*
* I declare that this assignment is my own work in accordance with Seneca 
* Academic Policy. No part of this assignment has been copied manually or 
* electronically from any other source (including web sites) or distributed to 
* other students. 
* 
* Name: __________Md Mehedi Haque____________ Student ID: ____154908172__________ Date: ____july 16 2018____________ 
* 
********************************************************************************/
body {
    color:#195097d0;
}

nav, footer {
    background-color: #3353bb; 
}

header {
    background-color: #bce5eb;
    border: 1px solid #3353bb;
}

h1.app-title {
    font-family: 'Gaegu', cursive;    
    padding: 15px;
    margin: 10px;
    font-weight: 900;
}

div.main-table-container{
    max-height: 700px;
    overflow: auto;
    border: 1px solid #d6d2d2;
}

table.main-table-top th{
    background-color: #3c95c9;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #3c95c9;
}

table.main-table p span{
    text-align: center;
    text-shadow: 1px 1px #3c95c9;
}
table.main-table td{
    padding: 10px;
    font-size: 12px;
    vertical-align: top;
    border: 1px solid #3c95c9;
}
