/*Md Mehedi Haque
    student # 154908172
    date: July 31 2018
    mmhaque7@myseneca.ca*/
html{
    background-color: white;
    width: 1200px;
}
header {
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #E27D60;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    
}
header img{
    float: left;
}

.navBar{
    margin: 0;
    padding: 0;
    width: 175px;
    background-color: grey;
    height:100%;
    position: absolute;
    clear:both;
    font-weight: bold;
}
.navBar a{
    display: block;
    color: black;
    padding: 8px 23px;
    font-family: 'Montserrat', sans-serif;
  
   
  }
  .navBar a.active{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;    
  }
  .navBar a:hover:not(.active){
    background-color: beige;
    color: rosybrown;
    font-weight: bold;
  } 

  #txtHonesty{
    width:60%;
    margin-left:15%;
    padding: 2px 12px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    border: 1px black solid;
  }

  #sidePanel{
width: 25%;
height: 700px;
float: right;
margin-top: -767px;
margin-right: -30px;
border-top:none;     
border-left: solid black 1px;
background-color: beige;

  }
  #sidePanel h4{
      color: red;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
  }
  #errors{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color:royalblue 
  }
  #errors ul{
    list-style-type: none;
    padding: none;

  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  border: #E27D60 2px solid;
}

